<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.study.location.mapper.AreaMapper">
  <resultMap id="BaseResultMap" type="com.study.location.domain.po.AreaPo">
    <id column="id" jdbcType="BIGINT" property="id" />
    <result column="code" jdbcType="VARCHAR" property="code" />
    <result column="name" jdbcType="VARCHAR" property="name" />
    <result column="full_name" jdbcType="VARCHAR" property="fullName" />
    <result column="pinyin" jdbcType="VARCHAR" property="pinyin" />
    <result column="lat" jdbcType="DECIMAL" property="lat" />
    <result column="lng" jdbcType="DECIMAL" property="lng" />
    <result column="parent_code" jdbcType="VARCHAR" property="parentCode" />
  </resultMap>

  <sql id="Base_Column_List">
    id, code, name, full_name, pinyin, lat, lng, parent_code
  </sql>

</mapper>